
@import url('https://fonts.googleapis.com/css?family=Rubik:400');
@import url('https://fonts.googleapis.com/css?family=Rubik:900');
:root {
    --unit1: 1vw;
    --unit2: 1vh;
}

html {
    overflow: hidden;
    color: white;
    background: black;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
}


button {
    border:none;
}

#container {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: left;
}

.circle {
    width: 500px;
    height: 500px;
    background: #18232b;
    border-radius: 50%;
    transform: rotate(225deg);
    -webkit-transition: 100ms linear;
}

.box {
    border: 2px solid white;
    width: 100vw;
    height: 100vh;
    
}
.two {
    transform: rotate(180deg)
}
.middle {
    flex: 1;
}
#one {
    display: flex;
    justify-content: center;
    align-items: center;
}

#one .logo {
    height: calc(80 * var(--unit1));
    width: calc(80 * var(--unit1));
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background: black;
    box-shadow: inset 0px 0px 220px 0px #121452;
    border-radius: 50%;
}

#one .logo h1 {
    font-size:calc(10 * var(--unit2));
    animation-name: normalFadeIn;
    animation-duration: 4s;
}

#one .logo h2 {
    font-weight: 400;
    font-size:calc(4 * var(--unit2));
}



#one nav {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .the {
    margin-top:calc(-4 * var(--unit2));
    margin-right:calc(-4 * var(--unit2));
    animation-name: leftFadeIn;
    animation-duration: 3s;
}
.logo .project {
    margin-top:calc(14 * var(--unit2));
    margin-left:calc(-10 * var(--unit2));
    animation-name: rightFadeIn;
    animation-duration: 3s;
}


#six {
    display: grid;
    grid-template-areas: 
     'hd6 mn6'
     'se6 mn6';
     grid-template-rows: 150px 1fr;
     grid-template-columns: 1fr 1fr;  
}

#six header {
    grid-area: hd6;
    font-size: 2vw;
}
#six header h1 {
    margin-bottom:0px;
}
#six main {
    grid-area: mn6;
}
#six main article {
    width: 90%;
    height:90%;
    background: #1f2b33;
    border-radius:16px;
}


#six section {
    grid-area: se6;
}

#six section article {
    width: 80%;
    height:80%;
    background: #1f2b33;
    box-shadow: inset 0px 0px 10px 0px black;
    border-radius:16px;
    padding-left:20px;
    padding-right:40px;
}

#six section article div {
    padding:10%;
}



#six section article h2 {
    color:#f76c82;
    font-size:15pt;
    font-weight: normal;
}
#six section article h1 {
    font-weight: normal;
    font-size:3vw;
    margin-top:0vw;
    margin-bottom:2vw;
}
#six section article button {
    width:200px;
    height:50px;
    border-radius: 8px;
    background: #f76c82;
    margin-top:20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#six section article button:hover {
    cursor: pointer;
    transform: translateX(-50%) scale(0.95);
}

#six header, #six main, #six section {
    display: flex;
    justify-content: center;
    align-items: center;
}


.section {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.littleCircle {
    width: calc(5 * var(--unit2));
    height:calc(5 * var(--unit2));
    box-shadow: inset 0px 0px 1vh 0px #121452;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    -webkit-transition: 500ms linear;
}

.littleCircle:hover {
    width:calc(10 * var(--unit2));;
    cursor: pointer;
    border-radius: 5px;
}

.littleCircle h1 {
    display: none;
    white-space: nowrap;
}

.c1 {
    margin-left:calc(40 * var(--unit1));
}
.c2 {
    margin-left:calc(-40 * var(--unit1));
}
.c3 {
    margin-top:calc(-40 * var(--unit1));
}
.c4 {
    margin-top:calc(40 * var(--unit1));
}

.secondSec {
    transform: translateY(-50%) rotate(45deg);
}
.thirdSec {
    transform: translateY(-50%) rotate(90deg);
}
.fourthSec {
    transform: translateY(-50%) rotate(135deg);
}



@keyframes normalFadeIn {
    0% {opacity: 0;}
    25% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes leftFadeIn {
    0% {opacity: 0; margin-right:calc(-8 * var(--unit2))}
    100% {opacity: 1; margin-right:calc(-4 * var(--unit2));}
}
@keyframes rightFadeIn {
    0% {opacity: 0; margin-left:calc(-14 * var(--unit2));}
    100% {opacity: 1; margin-left:calc(-10 * var(--unit2));}
}


@media screen and (min-width: 700px) {
    :root {
        --unit1: 1vh;
        --unit2: 1vw;
    }
}