
@import url('https://fonts.googleapis.com/css?family=Rubik:400');
@import url('https://fonts.googleapis.com/css?family=Rubik:900');
:root {
    --unit1: 1vw;
    --unit2: 1vh;
    --multiplier: 2;
}

html {
    overflow: hidden;
    color: white;
    background: black;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
}


button {
    border:none;
}

#container {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: left;
}

.circle {
    width: 500px;
    height: 500px;
    background: #18232b;
    border-radius: 50%;
    transform: rotate(225deg);
    -webkit-transition: 100ms linear;
}

.box {
    border: 2px solid white;
    width: 100vw;
    height: 100vh;
    
}
.two {
    transform: rotate(180deg)
}
.middle {
    flex: 1;
}
#one {
    display: flex;
    justify-content: center;
    align-items: center;
}

#one .logo {
    height: calc(80 * var(--unit1));
    width: calc(80 * var(--unit1));
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background: black;
    box-shadow: inset 0px 0px 220px 0px #121452;
    border-radius: 50%;
}

#one .logo h1 {
    font-size:calc(10 * var(--unit2));
    animation-name: normalFadeIn;
    animation-duration: 4s;
}

#one .logo h2 {
    font-weight: 400;
    font-size:calc(4 * var(--unit2));
}



#one nav {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .the {
    margin-top:calc(-4 * var(--unit2));
    margin-right:calc(-4 * var(--unit2));
    animation-name: leftFadeIn;
    animation-duration: 3s;
}
.logo .project {
    margin-top:calc(14 * var(--unit2));
    margin-left:calc(-10 * var(--unit2));
    animation-name: rightFadeIn;
    animation-duration: 3s;
}


#six {
    overflow-y: scroll; 
    display: grid;
    grid-template-areas: 
     'hd6 mn6'
     'se6 mn6';
     grid-template-rows: 150px 1fr;
     grid-template-columns: 1fr 1fr;  
}

#six header {
    grid-area: hd6;
    font-size: calc(2.5vw * var(--multiplier));
}
#six header h1 {
    margin-bottom:0px;
}
#six main {
    grid-area: mn6;
}
#six main article {
    width: calc(45vw * var(--multiplier));
    height: calc(37vw * var(--multiplier));
    background-image: url(/img/screen.svg);
    background-size: 100% 100%;
}
.screen {
    width: 100%;
    height: 73%;
    margin-top:2px;
    box-shadow: inset 0px 0px 0px 0.3vw black;
    background: #05080a;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
}



#six .MRindex {
    display: none;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#six .MRmenu {
    width: 98%;
    height: 250%;
    position: relative;
    overflow-y: scroll;
    display: none;
}

#six .MRmenu div {
    display: grid;
    margin:auto;
    width:90%;
    height:100%;
    grid-template-areas: 
    'MRhd MRhd MRhd MRhd'
    'MRplay MRplay MRplay MRlogout'
    'MRplay MRplay MRplay MRyellow'
    'MRmyacount MRmyacount MRmyacount MRmyacount'
    'MRshop MRlabs MRlabs MRlabs'
    'MRstatistics MRstatistics MRstatistics MRstatistics'
    'MRteacher MRteacher MRparrent MRparrent'
    'MRft MRft MRft MRft';
    grid-template-columns: 4fr 1.5fr 1.5fr 4fr;
    grid-template-rows: 5% 15% 40% 40% 40% 25% 25% 15%;
    grid-gap: calc(0.3vw * var(--multiplier));
}

.MRmenu::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(71, 71, 71);
    padding:2px;
    border-radius: 5px;
} 
.MRmenu::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-radius: 5px;
}


#six .MRmenu section, #six .MRmenu footer { 
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#six .MRmenu section:hover {
    transform: scale(0.95);
    cursor: pointer;
    -webkit-transition: 100ms;
}

#six .MRmenu .MRyellow:hover {
    transform: scale(1);
    cursor: auto;
}

#six .MRmenu section h1 {
    font-size:calc(2.75vw * var(--multiplier));
    text-transform: uppercase;
    margin:0;
}
#six .MRmenu section h2 {
    font-size:calc(1.5vw * var(--multiplier));
    font-weight: 700;
    text-transform: uppercase;
    margin:0;
}
#six .MRmenu section p {
    font-size:calc(1vw * var(--multiplier));
    margin:0;
}



#six .MRmenu footer {
    height: 100%;
    width: 100%;
}

#six .MRmenu footer h3 {
    color:#859eb7;
    font-size: calc(1vw * var(--multiplier));
    font-weight: 700;
    text-transform: uppercase;
}



#six .MRmenu header {
    grid-area: MRhd;
}

#six .MRmenu footer {
    grid-area: MRft;
}
#six .MRmenu .MRplay {
    grid-area: MRplay;
    background-color: #73b0f4;
    box-shadow: inset 0px -5px 0px #4a88da;
}

#six .MRmenu .MRlogout {
    grid-area: MRlogout;
    background-color: #b4df80;
    box-shadow: inset 0px -5px 0px #97ca62;
}

#six .MRmenu .MRyellow {
    grid-area: MRyellow;
    background-color: #fdcd56;
    box-shadow: inset 0px -5px 0px #f5b945;
}

#six .MRmenu .MRmyacount {
    grid-area: MRmyacount;
    background-color: #ac92ea;
    box-shadow: inset 0px -5px 0px #9579da;
}

#six .MRmenu .MRshop {
    grid-area: MRshop;
    background-color: #f76c82;
    box-shadow: inset 0px -5px 0px #d94452;
}

#six .MRmenu .MRlabs {
    grid-area: MRlabs;
    background-color: #fa6c51;
    box-shadow: inset 0px -5px 0px #e8553e;
}

#six .MRmenu .MRstatistics {
    grid-area: MRstatistics;
    background-color: #ac92ea;
    box-shadow: inset 0px -5px 0px #9579da;
}

#six .MRmenu .MRteacher {
    grid-area: MRteacher;
    background-color: #73b0f4;
    box-shadow: inset 0px -5px 0px #4a88da;
}

#six .MRmenu .MRparrent {
    grid-area: MRparrent;
    background-color: #fdcd56;
    box-shadow: inset 0px -5px 0px #f5b945;
}



#six .MRgame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.screen h1 {
    font-size: calc(3.5vw * var(--multiplier));
    font-weight: 900;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0px;
}

.screen h2 {
    font-weight: 400;
    font-size: calc(1.25vw * var(--multiplier));
    margin-top:0px;
}
.button {
    width:15%;
    height:10%;
    display: flex;
    border: 2px solid #b4df80;
    background-color: #1f2b33;
    opacity: 0.8;
    border-radius: 8px;
}
.button:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.button h2 {
    font-size:calc(1vw * var(--multiplier));
    margin:auto;
}


.movingCircle {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px #bbcddf;
    width: calc(20vw * var(--multiplier));
    height:calc(20vw * var(--multiplier));
    opacity: 0.5;
}

#movingCircle1 {
    animation: rotate 15s alternate infinite;
}
#movingCircle2 {
    animation: rotate_alt alternate 15s infinite;
}


@media screen and (max-width: 700px) {
    #six {
        grid-template-areas: 
        'hd6'
        'mn6'
        'se6';
        grid-template-rows: 150px 1fr 1fr;
        grid-template-columns: 1fr;  
    }
}

@-webkit-keyframes rotate {
    from {transform: perspective(100em) rotateX(-45deg) rotateY(-45deg)}
    to {transform: perspective(100em) rotateX(315deg) rotateY(315deg) scale(1.5)}
  }
  @-webkit-keyframes rotate_alt {
    from {transform: perspective(100em) rotateX(-45deg) rotateY(45deg)}
    to {transform: perspective(100em) rotateX(315deg) rotateY(-315deg) scale(1.5)}
  }




#six section {
    grid-area: se6;
}

#six section article {
    width: 80%;
    height:80%;
    background: #1f2b33;
    box-shadow: inset 0px 0px 10px 0px black;
    border-radius:16px;
    padding-left:20px;
    padding-right:40px;
    margin-top:20px;
    margin-bottom:20px;
}

#six section article .mrContainer {
    padding:10%;
    height:100%;
}
.mrContainer div {
    overflow-y:scroll;
    height: 200px;
}
.mrContainer div p {
    font-size: 15pt;
}

.mrContainer div::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(71, 71, 71);
    padding:2px;
    border-radius: 5px;
} 
.mrContainer div::-webkit-scrollbar-thumb {
    background-color: #f76c82;
    border-radius: 5px;
}


#six section article h2 {
    color:#f76c82;
    font-size:15pt;
    font-weight: normal;
}
#six section article h1 {
    font-weight: normal;
    font-size:calc(3vw * var(--multiplier));
    margin-top:0vw;
    margin-bottom:2vw;
}
#six section article button {
    width:200px;
    height:50px;
    border-radius: 8px;
    background: #f76c82;
    margin-top:20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#six section article button:hover {
    cursor: pointer;
    transform: translateX(-50%) scale(0.95);
}

#six header, #six main, #six section {
    display: flex;
    justify-content: center;
    align-items: center;
}


.section {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.littleCircle {
    width: calc(5 * var(--unit2));
    height:calc(5 * var(--unit2));
    box-shadow: inset 0px 0px 1vh 0px #121452;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    -webkit-transition: 500ms linear;
}

.littleCircle:hover {
    width:calc(10 * var(--unit2));;
    cursor: pointer;
    border-radius: 5px;
}

.littleCircle h1 {
    display: none;
    white-space: nowrap;
}

.c1 {
    margin-left:calc(40 * var(--unit1));
}
.c2 {
    margin-left:calc(-40 * var(--unit1));
}
.c3 {
    margin-top:calc(-40 * var(--unit1));
}
.c4 {
    margin-top:calc(40 * var(--unit1));
}

.secondSec {
    transform: translateY(-50%) rotate(45deg);
}
.thirdSec {
    transform: translateY(-50%) rotate(90deg);
}
.fourthSec {
    transform: translateY(-50%) rotate(135deg);
}



@keyframes normalFadeIn {
    0% {opacity: 0;}
    25% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes leftFadeIn {
    0% {opacity: 0; margin-right:calc(-8 * var(--unit2))}
    100% {opacity: 1; margin-right:calc(-4 * var(--unit2));}
}
@keyframes rightFadeIn {
    0% {opacity: 0; margin-left:calc(-14 * var(--unit2));}
    100% {opacity: 1; margin-left:calc(-10 * var(--unit2));}
}


@media screen and (min-width: 700px) {
    :root {
        --unit1: 1vh;
        --unit2: 1vw;
        --multiplier: 1;
    }
    #six {
        overflow: hidden;
    }
}