
@import url('https://fonts.googleapis.com/css?family=Rubik:400');
@import url('https://fonts.googleapis.com/css?family=Rubik:900');
:root {
    --unit1: 1vw;
    --unit2: 1vh;
    --multiplier: 2;
    --appMultiplier : 1;
    --projectColor : #73b0f4
}

html {
    overflow: hidden;
    color: white;
    background: black;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
}


button {
    border:none;
}



/* BACKGROUND CSS */



.backgroundContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.backgroundContainer article {
    position: absolute;
    width: calc(5 * var(--unit2));
    height: calc(5 * var(--unit2));
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    left: 50%;
    z-index: 2;
    opacity: .1;
    user-select: none;
    -webkit-transition: 100ms linear;
}
.backgroundContainer article:hover {
    cursor: pointer;
    opacity: .5;
    transform: translateX(-50%) scale(0.95);
}
.backgroundContainer .upwards {
    top: 2%;
}
.backgroundContainer .downwards {
    bottom: 2%;
}
.backgroundContainer article p {
    font-size: calc(5 * var(--unit2));
    margin: 0;
    transform: rotate(90deg);
}

.boxarea {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;            
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #06080f, #121c24, #060a0c);
    background-size: 400% 400%;
    animation: moveBackground 10s ease-in-out infinite;
}
.boxarea li {
    position: absolute;
    display: flex;
    list-style: none;
}
.boxarea li div {
    margin: auto;
    width: 0%;
    height: 0%;
}

.boxarea li:nth-child(1) {
    width: calc(10 * var(--unit1));
    height: calc(10 * var(--unit1));
    animation: rotation 12s linear infinite, animateMove1 12s linear infinite;
}
.boxarea li:nth-child(1) div {
    background: radial-gradient(rgba(115, 175, 244, 0.2), rgba(115, 175, 244, 0));
    box-shadow: 0px 0px 1vh #73b0f4;
    animation: scaling 12s linear infinite;
}

.boxarea li:nth-child(2) {
    width: calc(20 * var(--unit1));
    height: calc(20 * var(--unit1));
    animation: rotation 15s linear infinite 2s, animateMove4 15s linear infinite 2s;
}
.boxarea li:nth-child(2) div {
    background: radial-gradient(rgba(152, 202, 98, 0.2), rgba(152, 202, 98, 0));
    box-shadow: 0px 0px 1vh #98ca62;
    animation: scaling 15s infinite 2s;
}

.boxarea li:nth-child(3) {
    width: calc(15 * var(--unit1));
    height: calc(15 * var(--unit1));
    animation: rotation 12s linear infinite 4s, animateMove8 12s linear infinite 4s;
}
.boxarea li:nth-child(3) div {
    background: radial-gradient(rgba(247, 108, 130, 0.2), rgba(247, 108, 130, 0));
    box-shadow: 0px 0px 1vh #f76c82;
    animation: scaling 12s infinite 4s;
}

.boxarea li:nth-child(4) {
    width: calc(12 * var(--unit1));
    height: calc(12 * var(--unit1));
    animation: rotation 10s linear infinite 5s, animateMove6 10s linear infinite 5s;
}
.boxarea li:nth-child(4) div {
    background: radial-gradient(rgba(149, 121, 218, 0.2), rgba(149, 121, 218, 0));
    box-shadow: 0px 0px 1vh #9579da;
    animation: scaling 10s infinite 5s;
}

.boxarea li:nth-child(5) {
    width: calc(17 * var(--unit1));
    height: calc(17 * var(--unit1));
    animation: rotation 17s linear infinite 7s, animateMove2 17s linear infinite 7s;
}
.boxarea li:nth-child(5) div {
    background: radial-gradient(rgba(253, 205, 86, 0.2), rgba(253, 205, 86, 0));
    box-shadow: 0px 0px 1vh #fdcd56;
    animation: scaling 17s infinite 7s;
}

.boxarea li:nth-child(6) {
    width: calc(8 * var(--unit1));
    height: calc(8 * var(--unit1));
    animation: rotation 8s linear infinite 7.5s, animateMove7 8s linear infinite 7.5s;
}
.boxarea li:nth-child(6) div {
    background: radial-gradient(rgba(250, 108, 81, 0.2), rgba(250, 108, 81, 0));
    box-shadow: 0px 0px 1vh #fa6c51;
    animation: scaling 8s infinite 7.5s;
}

.boxarea li:nth-child(7) {
    width: calc(20 * var(--unit1));
    height: calc(20 * var(--unit1));
    animation: rotation 20s linear infinite 9s, animateMove5 20s linear infinite 9s;
}
.boxarea li:nth-child(7) div {
    background: radial-gradient(rgba(115, 175, 244, 0.2), rgba(115, 175, 244, 0));
    box-shadow: 0px 0px 1vh #73b0f4;
    animation: scaling 20s infinite 9s;
}

.boxarea li:nth-child(8) {
    width: calc(15 * var(--unit1));
    height: calc(15 * var(--unit1));
    animation: rotation 18s linear infinite 12s, animateMove3 18s linear infinite 12s;
}
.boxarea li:nth-child(8) div {
    background: radial-gradient(rgba(247, 108, 130, 0.2), rgba(247, 108, 130, 0));
    box-shadow: 0px 0px 1vh #f76c82;
    animation: scaling 18s infinite 12s;
}


@keyframes moveBackground {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

@keyframes animateMove1 {
    0% {margin-left: 0; margin-top: 0;}
    5% {margin-left: 0; margin-top: 0;}
    100% {margin-left: 75vw; margin-top: 75vh;}
}
@keyframes animateMove2 {
    0% {margin-left: 0;}
    5% {margin-left: 0;}
    100% {margin-left: 75vw;}
}
@keyframes animateMove3 {
    0% {margin-left: 0; margin-top: 0;}
    5% {margin-left: 0; margin-top: 0;}
    100% {margin-left: 75vw; margin-top: -75vh;}
}
@keyframes animateMove4 {
    0% {margin-top: 0;}
    5% {margin-top: 0;}
    100% {margin-top: -75vh;}
}
@keyframes animateMove5 {
    0% {margin-left: 0; margin-top: 0;}
    5% {margin-left: 0; margin-top: 0;}
    100% {margin-left: -75vw; margin-top: -75vh;}
}
@keyframes animateMove6 {
    0% {margin-left: 0;}
    5% {margin-left: 0;}
    100% {margin-left: -75vw;}
}
@keyframes animateMove7 {
    0% {margin-left: 0; margin-top: 0;}
    5% {margin-left: 0; margin-top: 0;}
    100% {margin-left: -75vw; margin-top: 75vh;}
}
@keyframes animateMove8 {
    0% {margin-top: 0;}
    5% {margin-top: 0;}
    100% {margin-top: 75vh;}
}

@keyframes rotation {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(90deg)}
    50% {transform: rotate(180deg)}
    75% {transform: rotate(270deg)}
    100% {transform: rotate(360deg)}
}
@keyframes scaling {
    0% {width: 0%; height: 0%;}
    10% {width: 100%; height: 100%;}
    100% {width: 100%; height: 100%;}
}

/* BOX CSS */

#container {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: left;
}

.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    transform: rotate(315deg);
    -webkit-transition: 100ms linear;
    user-select: none;
}

.box {
    width: 100vw;
    height: 100vh;
    
}
.two {
    transform: rotate(180deg)
}
.middle {
    flex: 1;
}


/* INDEX CSS */

#one {
    display: flex;
    justify-content: center;
    align-items: center;
}

#one .logo {
    height: calc(80 * var(--unit1));
    width: calc(80 * var(--unit1));
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-radius: 50%;
}

#one .logo h1 {
    font-size:calc(10 * var(--unit2));
    animation-name: normalFadeIn;
    animation-duration: 4s;
}

#one .logo h2 {
    font-weight: 400;
    font-size:calc(4 * var(--unit2));
}



#one nav {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotation 50s linear infinite;
    width: calc(80 * var(--unit1));
    height: calc(80 * var(--unit1));
    border-radius: 50%;
    box-shadow: 0px 0px calc(1 * var(--unit1)) 0px white, inset 0px 0px calc(2 * var(--unit1)) 0px black;
}

.logo .the {
    margin-top:calc(-4 * var(--unit2));
    margin-right:calc(-4 * var(--unit2));
    animation-name: leftFadeIn;
    animation-duration: 3s;
}
.logo .project {
    margin-top:calc(14 * var(--unit2));
    margin-left:calc(-10 * var(--unit2));
    animation-name: rightFadeIn;
    animation-duration: 3s;
}




/* ABOUT o44 CSS */
#two {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
}

#two .o44Container {
    grid-template-areas: 
        'o44hd'
        'o44mn'
        'o44ft'
        'o44se'
    ;
    grid-template-rows: 4fr 2fr 1fr 4fr;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 150vh;
}
#two::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(71, 71, 71);
    padding:2px;
    border-radius: 5px;
} 
#two::-webkit-scrollbar-thumb {
    background-color: #9579da;
    border-radius: 5px;
}




#two header {
    grid-area: o44hd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #97ca62;
    user-select: none;
}
#two header h1, #five section h1, #eight footer h1, .employee .emLogo h1 {
    font-size: calc(10vw * var(--multiplier));
}
#two header h1:hover, #five section h1:hover, #eight footer h1:hover, .employee .emLogo h1:hover {
    cursor: pointer;
}
#two header .the, #five section .the, #eight footer .the, .employee .emLogo .the {
    font-size: calc(3.5vw * var(--multiplier));
    margin-top: calc(-3.5vw * var(--multiplier));
    margin-right: calc(-3.5vw * var(--multiplier));
}
#two header .project, #five section .project, #eight footer .project, .employee .emLogo .project {
    font-size: calc(3.5vw * var(--multiplier));
    margin-top: calc(14vw * var(--multiplier));
    margin-left: calc(-7.5vw * var(--multiplier));
}


#two main {
    grid-area: o44mn;
    display: flex;
}
#two main div {
    width: 60%;
    height: 100%;
    text-align: center;
    margin: auto;
    border-top: solid 2px white;
}
#two main h1 {
    color: #9579da;
}
#two main b {
    display: block;
    margin-bottom: 10px;
}



#two footer {
    grid-area: o44ft;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#two section {
    grid-area: o44se;
    display: block;
    height: 100%;
    overflow-y: scroll;
    position: relative;
}
#two section article {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #22323d;
    box-shadow: 3px 3px 5px black, inset 0px 0px 5px rgba(255, 255, 255, 0.13);
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 10%;
    position: relative;
    -webkit-transition: 200ms linear;
}
#two section .end {
    margin-bottom: 50px;
}
#two section article div {
    width: 80%;
    height: 100px;
    overflow: hidden;
    -webkit-transition: 200ms linear;
}
#two section article h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 25pt;
    font-weight: 500;
    color: rgb(214, 214, 214);
}
#two section article h2 {
    font-size: 30pt;
    margin: 0;
    position: absolute;
    bottom: 0px;
    transform: rotate(90deg);
    user-select: none;
    -webkit-transition: 100ms linear;
}
#two section article h2:hover {
    font-size: 25pt;
    cursor: pointer;
    
}
#two section::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(71, 71, 71);
    padding:2px;
    border-radius: 5px;
} 
#two section::-webkit-scrollbar-thumb {
    background-color: #9579da;
    border-radius: 5px;
}

#two section .open {
    height: auto;
}
#two section .open div {
    height: auto;
    padding-bottom: 25px;
}
#two section .open h2 {
    transform: rotate(-90deg);
    font-size: 25pt;
}



.green {
    color: #97ca62;
}
.yellow {
    color: #fdcd56;
}
.blue {
    color: #73b0f4;
}
.purple {
    color: #9579da;
}
.red {
    color: #f76c82;
}





/* EMPLOYEE CSS */


.employee {
    display: grid;
    grid-template-areas: 
        'SAMhd'
        'SAMmn'
        'SAMse'
        'SAMft'
    ;
    grid-template-rows: 0.5fr 4fr 5fr 0.5fr;
}

.employee header {
    grid-area: SAMhd;
    display: flex;
    align-items: center;
}
.employee header h2 {
    font-size: 20pt;
    margin-left: 10px;
    letter-spacing: calc(0.125vw * var(--multiplier));
    color: #b4df80;
    font-weight: 500;
}
#four header h2 {
    color: #fa6c51;
}

.employee main {
    grid-area: SAMmn;
    display: flex;
    justify-content: center;
    align-items: center;
}
.employee main div {
    width:  calc(40vh);
    height: calc(40vh);
    border-radius: 30% 30% 10% 10%;
}
.jonas {
    background-size: cover;
    background-image: url('/img/PictureJonas.png')
}

.employee .emLogo {
    display: none;
    grid-area: SAMlogo;
    justify-content: center;
    align-items: center;
    color: #73b0f4;
    user-select: none;
}
#four .emLogo {
    color: #fdcd56;
}


.employee section {
    grid-area: SAMse;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.employee section article {
    background: #1f2b33;
    box-shadow: inset 0px 0px 10px 0px black;
    border-radius: 8px;
    width: 90%;
    height: calc(90vh / ( 1 + 1 / (3 - var(--multiplier))));
    position: relative;
}

.employee section h1 {
    text-align: center;
    font-size: calc(3vw * var(--multiplier));
    margin-bottom: 1%;
}
.employee section p {
    margin: auto 5% 5% 5%;
    font-size: 11pt;
}
.employee section b {
    margin: 2% 5% 2% 5%;
    font-size: 11pt;
    color: #b4df80;
}
#four section b {
    color: #fa6c51;
}

.employee section div {
    overflow-y: scroll;
    margin-bottom: 10%;
    height: 75%;
}
.employee section div::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(71, 71, 71);
    padding:2px;
    border-radius: 5px;
} 
.employee section div::-webkit-scrollbar-thumb {
    background-color: #b4df80;
    border-radius: 5px;
}
#four section div::-webkit-scrollbar-thumb {
    background-color: #fa6c51;
}



.employee footer {
    grid-area: SAMft;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* PROJECTS CSS */

#five {
    overflow: hidden;
    display: grid;
    grid-template-areas: 
        'PROhd'
        'PROmn'
        'PROnv'
    ;
    grid-template-rows: 100px 1fr 50vw;
    grid-template-columns: 1fr;
}

#five header {
    grid-area: PROhd;
    display: flex;
}
#five header h1 {
    margin: auto;
    margin-bottom: 0;
    font-size: 35pt;
}

#five main {
    grid-area: PROmn;
    display: flex;
    position: relative;
}
#five main article {
    margin: auto;
    width: 90%;
    height: 90%;
    background: #1f2b33;
    box-shadow: inset 0px 0px 10px 0px black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#five main article h1 {
    font-weight: 500;
    color: var(--projectColor);
}
#five main article div {
    width: 80%;
    height: 350px;
    overflow-y: scroll;
}
#five main article b {
    color: rgb(187, 187, 187);
}
#five main article button {
    margin-left: 50%;
    margin-bottom: 20px;
    width: 150px;
    height: 45px;
    border-radius: 8px;
    background-color: var(--projectColor);
    transform: translateX(-50%);
}
#five main article button:hover {
    cursor: pointer;
    transform: scale(0.95) translateX(-50%);
    -webkit-transition: 100ms linear;
}

#five main article div::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(71, 71, 71);
    padding:2px;
    border-radius: 5px;
} 
#five main article div::-webkit-scrollbar-thumb {
    background-color: var(--projectColor);
    border-radius: 5px;
}

#five nav {
    grid-area: PROnv;
    width: 95vw;
    height: 95vw;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50%) translateX(-50%);
}

#five section {
    grid-area: PROse;
    display: none;
    justify-content: center;
    align-items: center;
    color: #f76c82;
    border-bottom: 2px solid white;
    user-select: none;
}


.card {
    user-select: none;
    position: absolute;
    border-radius: 16px;
    width: 35%;
    height: 100%;
    -webkit-transition: 100ms linear;
    display: flex;
    justify-content: center;
}
.card h2 {
    font-size: 3.5vw;
}
.card:hover {
    height: 120%;
    cursor: pointer;
}


#card1 {
    color: #73b0f4;
}
#card2 {
    color: #f76c82;
    transform: rotate(30deg);
}
#card3 {
    color: #9579da;
    transform: rotate(-30deg);
}
#card4 {
    color: #97ca62;
    transform: rotate(60deg);
}
#card5 {
    color: #fdcd56;
    transform: rotate(-60deg);
}
.heightToggle {
    height: 0%;
    -webkit-transition: 100ms linear;
}
.heightToggle h2 {
    opacity: 0;
}

.light {
    background-color: #21343f;
}
.normal {
    background-color: #1f2b33;
}
.dark {
    background-color: #121b20;
}

@media screen and (min-width: 600px) {
    #five {
        grid-template-rows: 100px 1fr 300px;
    }
    #five nav {
        width: 550px;
        height: 550px;
    }
    .card h2 {
        font-size: 15pt;
    }
}


@media screen and (min-width: 1250px) {
    #five {
        grid-template-areas: 
            'PROhd PROse'
            'PROmn PROse'
            'PROmn PROnv'
        ;
        grid-template-rows: 100px 1fr 300px;
        grid-template-columns: 1fr 600px;
    }
    #five section {
        display: flex;
    }
    #five main article div {
        height: calc(80vh - 150px);
    }
}

@media screen and (min-width: 1500px) {
    #five {
        grid-template-rows: 100px 1fr 400px;
        grid-template-columns: 1fr 800px;
    }
    #five nav {
        width: 600px;
        height: 600px;
    }
}



/* MR CSS */

#six {
    overflow-y: scroll; 
    display: grid;
    grid-template-areas: 
     'hd6 mn6'
     'se6 mn6';
     grid-template-rows: 150px 1fr;
     grid-template-columns: 1fr 1fr;  
}
#six::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(71, 71, 71);
    padding:2px;
    border-radius: 5px;
} 
#six::-webkit-scrollbar-thumb {
    background-color: #f76c82;
    border-radius: 5px;
}

#six header {
    grid-area: hd6;
    font-size: calc(2.5vw * var(--multiplier));
}
#six header h1 {
    margin-bottom: 10px;
    margin-top: 10px;
}
#six main {
    grid-area: mn6;
}
#six main article {
    width: calc(45vw * var(--multiplier));
    height: calc(37vw * var(--multiplier));
    background-image: url(/img/screen.svg);
    background-size: 100% 100%;
}
.screen {
    width: 100%;
    height: 73%;
    margin-top:2px;
    box-shadow: inset 0px 0px 0px 0.3vw black;
    background: #05080a;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
}



#six .MRindex {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#six .MRmenu {
    width: 98%;
    height: 250%;
    position: relative;
    overflow-y: scroll;
    display: none;
}

#six .MRmenu div {
    display: grid;
    margin:auto;
    width:90%;
    height:100%;
    grid-template-areas: 
    'MRhd MRhd MRhd MRhd'
    'MRplay MRplay MRplay MRlogout'
    'MRplay MRplay MRplay MRyellow'
    'MRmyacount MRmyacount MRmyacount MRmyacount'
    'MRshop MRlabs MRlabs MRlabs'
    'MRstatistics MRstatistics MRstatistics MRstatistics'
    'MRteacher MRteacher MRparrent MRparrent'
    'MRft MRft MRft MRft';
    grid-template-columns: 4fr 1.5fr 1.5fr 4fr;
    grid-template-rows: 5% 15% 40% 40% 40% 25% 25% 15%;
    grid-gap: calc(0.3vw * var(--multiplier));
}

.MRmenu::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(71, 71, 71);
    padding:2px;
    border-radius: 5px;
} 
.MRmenu::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-radius: 5px;
}


#six .MRmenu section, #six .MRmenu footer { 
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#six .MRmenu section:hover {
    transform: scale(0.95);
    cursor: pointer;
    -webkit-transition: 100ms;
}

#six .MRmenu .MRyellow:hover {
    transform: scale(1);
    cursor: auto;
}

#six .MRmenu section h1 {
    font-size:calc(2.75vw * var(--multiplier));
    text-transform: uppercase;
    margin:0;
}
#six .MRmenu section h2 {
    font-size:calc(1.5vw * var(--multiplier));
    font-weight: 700;
    text-transform: uppercase;
    margin:0;
}
#six .MRmenu section p {
    font-size:calc(1vw * var(--multiplier));
    margin:0;
}



#six .MRmenu footer {
    height: 100%;
    width: 100%;
}

#six .MRmenu footer h3 {
    color:#859eb7;
    font-size: calc(1vw * var(--multiplier));
    font-weight: 700;
    text-transform: uppercase;
}



#six .MRmenu header {
    grid-area: MRhd;
}

#six .MRmenu footer {
    grid-area: MRft;
}
#six .MRmenu .MRplay {
    grid-area: MRplay;
    background-color: #73b0f4;
    box-shadow: inset 0px -5px 0px #4a88da;
}

#six .MRmenu .MRlogout {
    grid-area: MRlogout;
    background-color: #b4df80;
    box-shadow: inset 0px -5px 0px #97ca62;
}

#six .MRmenu .MRyellow {
    grid-area: MRyellow;
    background-color: #fdcd56;
    box-shadow: inset 0px -5px 0px #f5b945;
}

#six .MRmenu .MRmyacount {
    grid-area: MRmyacount;
    background-color: #ac92ea;
    box-shadow: inset 0px -5px 0px #9579da;
}

#six .MRmenu .MRshop {
    grid-area: MRshop;
    background-color: #f76c82;
    box-shadow: inset 0px -5px 0px #d94452;
}

#six .MRmenu .MRlabs {
    grid-area: MRlabs;
    background-color: #fa6c51;
    box-shadow: inset 0px -5px 0px #e8553e;
}

#six .MRmenu .MRstatistics {
    grid-area: MRstatistics;
    background-color: #ac92ea;
    box-shadow: inset 0px -5px 0px #9579da;
}

#six .MRmenu .MRteacher {
    grid-area: MRteacher;
    background-color: #73b0f4;
    box-shadow: inset 0px -5px 0px #4a88da;
}

#six .MRmenu .MRparrent {
    grid-area: MRparrent;
    background-color: #fdcd56;
    box-shadow: inset 0px -5px 0px #f5b945;
}

.screen h1 {
    font-size: calc(3.5vw * var(--multiplier));
    font-weight: 900;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0px;
}

.screen h2 {
    font-weight: 400;
    font-size: calc(1.25vw * var(--multiplier));
    margin-top:0px;
}

#six .MRgame {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backButton {
    background-color: #fa6c51;
    box-shadow: 0px 4px 0px #e8553e;
    border-radius: 8px;
    height: calc(2.5vw * var(--multiplier));
    width: calc(8vw * var(--multiplier));
    display: flex;
}
.backButton:hover, .doneButton:hover {
    cursor: pointer;
    transform: scale(0.95);
    -webkit-transition: 100ms;
}

.backButton h2 {
    font-weight: 700;
    margin: auto;
}
.screen .question {
    font-size: calc(2.5vw * var(--multiplier));
    margin: calc(1.5vw * var(--multiplier));
}

.userBlock {
    display: flex;
    flex-direction: row;
}
.userinput {
    border-radius: 8px;
    border: none;
    height: calc(2vw * var(--multiplier));
    width: calc(7vw * var(--multiplier));
    box-shadow: 0px 4px 0px #b4b4b4;
    padding-left: 5px;
    font-size: calc(1vw * var(--multiplier));
    margin-right:calc(0.25vw * var(--multiplier));
}
.doneButton {
    border-radius: 8px;
    height: calc(2vw * var(--multiplier));
    width: calc(3vw * var(--multiplier));
    background-color: #b4df80;
    box-shadow: 0px 7px 0px #89c053;
}

.progress {
    margin: calc(1.5vw * var(--multiplier));
    width:calc(20vw * var(--multiplier));
    height: calc(1vw * var(--multiplier));
    border-radius: 8px;
    background-color: #73b0f4;
    box-shadow: 0px 4px 0px #4a88da;
    position: relative;
    padding: calc(0.3vw * var(--multiplier));
}
.progress div {
    background-color: #b4df80;
    width:10%;
    height: 100%;
    border-radius: 8px;
    -webkit-transition: 200ms;
}

.scoreBox {
    border-radius: 8px;
    height: calc(2.5vw * var(--multiplier));
    width: calc(8vw * var(--multiplier));
    background-color: #ac92ea;
    box-shadow: 0px 4px 0px #9579da;
    display: flex;
}
.scoreBox h2 {
    font-weight: 700;
    margin: auto;
}


.button {
    width:15%;
    height:10%;
    display: flex;
    border: 2px solid #b4df80;
    background-color: #1f2b33;
    opacity: 0.8;
    border-radius: 8px;
}
.button:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.button h2 {
    font-size:calc(1vw * var(--multiplier));
    margin:auto;
}


.movingCircle {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px #bbcddf;
    width: calc(20vw * var(--multiplier));
    height:calc(20vw * var(--multiplier));
    opacity: 0.5;
}
#seven .movingCircle {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px #bbcddf;
    width: 30vh;
    height: 30vh;
    opacity: 0.5;
}

#movingCircle1 {
    animation: rotate 15s alternate infinite;
}
#movingCircle2 {
    animation: rotate_alt alternate 15s infinite;
}


@media screen and (max-width: 700px) {
    :root {
        --appMultiplier : 0.75;
    }
    #six {
        grid-template-areas: 
        'hd6'
        'mn6'
        'se6';
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: 1fr;  
    }
    .employee section div {
        height: 75%;
    }
}

@media screen and (min-width: 1200px) {
    .employee section h1 {
        font-size: 27pt;
    }
    .employee section b, .employee section p {
        font-size: 12pt;
    }
    .employee header h2 {
        font-size: 30pt;
    }
}

@-webkit-keyframes rotate {
    from {transform: perspective(100em) rotateX(-45deg) rotateY(-45deg)}
    to {transform: perspective(100em) rotateX(315deg) rotateY(315deg) scale(1.5)}
  }
  @-webkit-keyframes rotate_alt {
    from {transform: perspective(100em) rotateX(-45deg) rotateY(45deg)}
    to {transform: perspective(100em) rotateX(315deg) rotateY(-315deg) scale(1.5)}
  }
  @-webkit-keyframes scale {
    from {transform: scale(1);}
    to {transform: scale(1.25)}
  }




#six section {
    grid-area: se6;
}

#six section article {
    width: 80%;
    background: #1f2b33;
    box-shadow: inset 0px 0px 10px 0px black;
    border-radius:16px;
    padding-left:20px;
    padding-right:40px;
}

#six section article .mrContainer {
    padding:5%;
    height:100%;
}
.mrContainer div {
    overflow-y:scroll;
    height: 30vh;
}
.mrContainer div p {
    font-size: 15pt;
}

.mrContainer div::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(71, 71, 71);
    padding:2px;
    border-radius: 5px;
} 
.mrContainer div::-webkit-scrollbar-thumb {
    background-color: #f76c82;
    border-radius: 5px;
}


#six section article h2 {
    color:#f76c82;
    font-size:15pt;
    font-weight: normal;
}
#six section article h1 {
    font-weight: normal;
    font-size:calc(3vw * var(--multiplier));
    margin-top:0vw;
    margin-bottom:2vw;
}
#six section article button {
    width:200px;
    height:50px;
    border-radius: 8px;
    background: #f76c82;
    margin-top:20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#six section article button:hover {
    cursor: pointer;
    transform: translateX(-50%) scale(0.95);
}

#six header, #six main, #six section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* APP CSS */


#seven {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
        'APPhd'
        'APPse'
    ;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;
}

#seven .mainContainer {
    display: flex;
    height: 75vh;
    width: 120vw;
    justify-content: center;
    align-items: center;
    margin-left: 9vw;
    -webkit-transition: 500ms;
}



#seven header {
    grid-area: APPhd;
    display: flex;
    width: 100vw;
}
#seven .mainContainer header {
    display: none;
}

#seven header h1 {
    margin: auto;
    text-transform: uppercase;
    font-size: calc(5 * var(--unit1));
}

#seven main {
    grid-area: APPmn;
    display: grid;
}

#seven main article {
    margin: auto;
    width: calc(47vh * var(--appMultiplier));
    height: calc(70vh * var(--appMultiplier));
    border-radius: 8px;
    background: black;
    border-bottom: 1vw solid black;
    display: flex;
}
#seven main article .appContainer {
    margin: auto;
    width:95%;
    height: 95%;
    background-color: #05090b;
    overflow: hidden;
    position: relative;
    
}
.appIndex {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    background-image: url('/img/app_index.png');
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.appIndex:hover {
    cursor: pointer;
}

.appContainer .appIndex .movingCircle {
    width: calc(15vw * var(--multiplier));
    height:calc(15vw * var(--multiplier));
    margin-top: 2.5vw;
}
.appIndex img {
    width: 30%;
    animation: scale alternate 15s infinite;
}
.appIndex h1 {
    font-size: 5vh;
    letter-spacing: 1.5vh;
    margin-top: -15vh;
    margin-bottom: 12vh;
}


.appMenu {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.appMenu nav {
    height: 7.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.appMenu nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.appMenu nav div p {
    font-size: 1.2vw;
    padding-right: .5vw;
}
.appMenu nav img {
    height: 100%;
    width: auto;
    cursor: pointer;
}


#seven .appMenu header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#seven .appMenu header h1 {
    font-size: 4vh;
    letter-spacing: 1vh;
    margin: 0px;
}
#seven .appMenu header h2 {
    margin: 0px;
    font-size: 2.5vh;
    letter-spacing: 1vh;
}

#seven .appMenu main {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.appMenu main .mainCircle {
    width: 30vh;
    height: 30vh;
    border: 2px solid #4A88DA;
    border-radius: 50%;
    background-color: #1C2936;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainCircle .appCircle {
    width: 15%;
    height: 15%;
    border: 1px solid #9579DA;
    border-radius: 50%;
    background-color: #151E27;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}
.mainCircle #littleOne {
    left: 0%;
    top: 50%;
}
.mainCircle #littleTwo {
    left: 100%;
    top: 50%;
}
.mainCircle #littleThree {
    left: 50%;
    top: 100%;
}
.mainCircle .shield {
    width: 25%;
    height: 25%;
    background-image: url(/img/shield_color.svg);
    background-size: 110% 100%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    position: absolute;
    left: 50%;
    top: 0%;
}
.mainCircle .shield:hover {
    height: 30%;
    cursor: pointer;
    -webkit-transition: 100ms;
}

.playArrow {
    margin: auto;
    width: 0;
    height: 0;
    border-top: 1.5vh solid transparent;
    border-bottom: 1.5vh solid transparent;
    border-left: 3vh solid #B4DF80;
    transform: translateX(25%);
}

.appCon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.appCon .appImg {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.appCon .appImg img {
    margin-left: 10%;
    width: 60%;
}
.appCon .appText {
    width: 55%;
    padding-right: 7.5%;
}
.appCon .appText h1 {
    font-size: 3vh;
    font-weight: 500;
    margin-bottom: -0.5vh;
}
.appCon .appText p {
    font-size: 1vh;
}


.appMenu footer, .appGame footer {
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8C8C8C;
}
.appMenu footer h1, .appGame footer h1 {
    font-size: 3.5vh;
    font-weight: 600;
}
.appMenu footer h2, .appGame footer h2 {
    font-size: 1.5vh;
    font-weight: 500;
}
.appMenu footer .the, .appGame footer .the {
    margin-top: -1.75vh;
    margin-right: -1.5vh;
}
.appMenu footer .project, .appGame footer .project {
    margin-top: 5.5vh;
    margin-left: -2vh;
}



.appGame {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/img/app_index.png');
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}

#seven .mainContainer .appGame header {
    height: 20%;
    width: 100%;
    position: relative;
    display: flex;
}
.appGameButton {
    margin: auto;
    width: 40%;
    height: 30%;
    background-color: #AC92EA;
    box-shadow: 0px 4px 0px #9579da;
    border-radius: 8px;
    display: flex;
}

.appGameButton h2 {
    font-size: 1.5vh;
    font-weight: 500;
    margin: auto;
    text-transform: uppercase;
}

#seven .appGame main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.appGame main h2 {
    font-size: 2.5vh;
}
.appGame main h1 {
    margin-top: 17.5%;
    font-size: 4vh;
}

.appGame main div {
    display: flex;
    flex-direction: row;
}
.appGame main input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    height: 3vh;
    width: 10vh;
    box-shadow: 0px 4px 0px #b4b4b4;
    padding-left: 5px;
    font-size: 1.5vh;
    margin-right:.3vh;
}
.appGame main button {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 3.25vh;
    width: 4.5vh;
    background-color: #b4df80;
    box-shadow: 0px 4px 0px #89c053;
}

.appGameButton:hover, .appGame main button:hover {
    cursor: pointer;
    transform: scale(0.95);
    -webkit-transition: 100ms;
}





#seven section {
    grid-area: APPse;
    position: relative;
    display: flex;
    justify-content: center;
}
#seven section article {
    height: calc(70vh * var(--appMultiplier));
    width: calc(70vh * var(--appMultiplier));
    background: #1f2b33;
    box-shadow: inset 0px 0px 10px 0px black;
    border-radius: 16px;
    margin: calc(2vh * var(--appMultiplier));
    position: relative;
    
}
#seven section article .mrContainer {
    height: calc(58vh * var(--appMultiplier));
    position: relative;
    width: calc(60vh * var(--appMultiplier));
    display: flex;
    padding: 5vh 5vw 5vh 5vw;
    flex-direction: column;
}
#seven section article .mrContainer div {
    height: auto;
    flex: 1;
}

#seven .mrContainer div::-webkit-scrollbar-thumb {
    background-color: #73b0f4;
    border-radius: 5px;
}


#seven section article h2 {
    color:#73b0f4;
    font-size:15pt;
    font-weight: normal;
}
#seven section article h1 {
    font-weight: normal;
    font-size:calc(3vw * var(--multiplier));
    margin-top:0vw;
    margin-bottom:2vw;
}
#seven section article button {
    width:200px;
    height:50px;
    border-radius: 8px;
    background: #73b0f4;
    margin-top:20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#seven section article button:hover {
    cursor: pointer;
    transform: translateX(-50%) scale(0.95);
}



@media screen and (min-width: 1100px) {
    #seven .mainContainer {
        display: grid;
        grid-template-areas: 
            'APPhd2 APPmn'
            'APPse APPmn'
        ;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 100px 1fr;
        grid-template-columns: 5fr 3fr;
        margin-left: auto;
    }
    #seven header {
        display: none;
        width: auto;
    }
    #seven .mainContainer header {
        display: flex;
        grid-area: APPhd2;
        width: 100%;
        height: 100%;
    }
    #seven .mainContainer header h1 {
        margin-bottom: 0;
    }
    #seven section article {
        width: 90%;
    }
    #seven section article .mrContainer {
        width: 90%;
        padding: 5%;
    }
    #seven main article {
        width: 30vw;
        height: 45vw;
    }
}




/* Kontakt CSS */

#eight {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        'CONmn'
        'CONse'
    ;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
}

#eight header {
    grid-area: CONhd;
    display: flex;
    align-items: center;
    justify-content: center;
}
#eight header h1 {
    font-size: 30pt;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

#eight img {
    width: auto;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
#eight img:hover {
    cursor: pointer;
    transform: scale(0.95);
}

#eight section {
    grid-area: CONse;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#eight section article {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: #1f2b33;
    box-shadow: inset 0px 0px 10px 0px black;
    padding: 20px;
    border-radius: 8px;
}
#eight section article h1 {
    font-size: 20pt;
    margin: 0;
}
#eight section article input, #eight section article textarea {
    border: none;
    border-radius: 4px;
    font-size: 11pt;
    padding-left: 2px;
}
#eight section article input:nth-child(2) {
    width: 100%;
    height: 25px;
}
#eight section article textarea {
    width: 100%;
    flex: 1;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
#eight section article div {
    width: 100%;
    height: 25px;
    display: flex;
    position: relative;
}
#eight section article div input {
    flex: 1;
    height: 100%;
}
#eight section article div button {
    height: calc(100% + 2px);
    width: 50px;
    border: none;
    border-radius: 4px;
    background-color: #97ca62;
    color: white;
}


#eight main {
    grid-area: CONmn;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #1f2b33;
    box-shadow: inset 0px 0px 10px 0px black;
    width: 90%;
    height: 90%;
    position: relative;
    margin: auto;
    border-radius: 8px;
}
#eight main section article {
    display: flex;
    padding: 20px;
    border-radius: 8px;
}

#eight main section:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#eight main section:nth-child(2) article {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: inset 0px 0px 10px 0px black;
}
#eight main section:nth-child(2) h1 {
    font-size: 25pt;
    margin: 0;
    color: #fdcd56;
}
#eight main section:nth-child(2) div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}
#eight main section article {
    background: none;
    box-shadow: none;
}
#eight main section:nth-child(3) {
    display: flex;
    flex: row;
    justify-content: space-around;
    position: relative;
} 
#eight main section:nth-child(3) article {
    width: 40%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0px 0px 10px 0px black;
}
#eight main section:nth-child(3) article h1 {
    font-size: 17pt;
}
#eight main section:nth-child(3) article div:nth-child(1) {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
}
#eight main section:nth-child(3) article div:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
}
#eight main section:nth-child(3) article div:nth-child(3) p {
    flex: 1;
}

#eight footer {
    grid-area: CONft;
    display: none;
    justify-content: center;
    align-items: center;
    color: #9579da;
    user-select: none;
}





/* INDEX CSS */
.section {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.littleCircle {
    width: calc(5 * var(--unit2));
    height:calc(5 * var(--unit2));
    box-shadow: 0px 0px 1vh 0px #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    -webkit-transition: 500ms linear;
    background-size: cover;
    background-position: center;
}

.littleCircle:hover {
    width:calc(10 * var(--unit2));
    cursor: pointer;
    border-radius: 5px;
    color: rgb(173, 173, 173);
}

.littleCircle h1 {
    display: none;
    white-space: nowrap;
    font-size: calc(1.5 * var(--unit2));
}

#c1 {
    margin-left:calc(40 * var(--unit1));
    background-image: url(/img/supervisor_account-24px.svg);
    animation: normalFadeIn 2s, rotation 50s linear infinite reverse;
}
#c2 {
    margin-left:calc(-40 * var(--unit1));
    background-image: url(/img/code-24px.svg);
    animation: normalFadeIn 4s, rotation 50s linear infinite reverse;
}
#c3 {
    margin-top:calc(-40 * var(--unit1));
    background-image: url(/img/contacts-24px.svg);
    animation: normalFadeIn 1s, rotation 50s linear infinite reverse;
}
#c4 {
    margin-top:calc(40 * var(--unit1));
    background-image: url(/img/info-24px.svg);
    animation: normalFadeIn 3s, rotation 50s linear infinite reverse;
}

.secondSec {
    transform: translateY(-50%) rotate(45deg);
}
.thirdSec {
    transform: translateY(-50%) rotate(90deg);
}
.fourthSec {
    transform: translateY(-50%) rotate(135deg);
}


/* INDEX ANIMATIONS */
@keyframes normalFadeIn {
    0% {opacity: 0;}
    25% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes leftFadeIn {
    0% {opacity: 0; margin-right:calc(-8 * var(--unit2))}
    100% {opacity: 1; margin-right:calc(-4 * var(--unit2));}
}
@keyframes rightFadeIn {
    0% {opacity: 0; margin-left:calc(-14 * var(--unit2));}
    100% {opacity: 1; margin-left:calc(-10 * var(--unit2));}
}




/* GENERAL SCALING */
@media screen and (min-width: 700px) {
    :root {
        --unit1: 1vh;
        --unit2: 1vw;
        --multiplier: 1;
    }
    #six {
        overflow: hidden;
    }
    #seven {
        overflow: hidden;
    }
    .employee {
        display: grid;
        grid-template-areas: 
            'SAMhd SAMmn'
            'SAMse SAMmn'
            'SAMse SAMlogo'
            'SAMft SAMlogo'
        ;
        grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
        grid-template-columns: 1fr 1fr;
    }
    .employee .emLogo {
        display: flex;
    }
    
    #two {
        overflow: hidden;
    }
    #two .o44Container {
        display: grid;
        grid-template-areas: 
            'o44hd o44se'
            'o44mn o44se'
            'o44ft o44se'
        ;
        grid-template-rows: 4fr 4fr 80px;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    #eight {
        grid-template-areas:
            'CONmn CONft'
            'CONmn CONse'
        ;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    #eight footer {
        display: flex;
    }

}